[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
"flake8" = "*"

[requires]
python_version = "3.7"

[packages]
census-rm-sample-loader = {editable = true,git = "https://github.com/ONSdigital/census-rm-sample-loader",ref = "v2.1.0"}
census-rm-toolbox = {editable = true,git = "https://github.com/ONSdigital/census-rm-toolbox",ref = "59e6e1e59a6e4e8ffaa1792f8b2baa3873c78390"}
pgpy = "*"
google-cloud-storage = "*"
psycopg2-binary = "*"
str2bool = "*"
luhn = "*"
tonyg-rfc3339 = "*"
google-cloud-pubsub = "*"
behave = "*"
requests = "*"
structlog = "*"
retrying = "*"
"jinja2" = "*"
pika = "*"
paramiko = "*"
