[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
"flake8" = "*"

[requires]
python_version = "3.7"

[packages]
census-rm-sample-loader = {editable = true,git = "https://github.com/ONSdigital/census-rm-sample-loader",ref = "v2.2.0"}
census-rm-toolbox = {editable = true,git = "https://github.com/ONSdigital/census-rm-toolbox",ref = "72649dbce14da45e30f2c6ac04aceb793ab7e78c"}
pgpy = "*"
google-cloud-storage = "*"
psycopg2-binary = "*"
str2bool = "*"
luhn = "*"
tonyg-rfc3339 = "*"
google-cloud-pubsub = "==1.7.0"
behave = "*"
requests = "*"
structlog = "*"
retrying = "*"
"jinja2" = "*"
pika = "*"
paramiko = "*"
