[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
google-cloud-pubsub = "*"
behave = "*"
requests = "*"
structlog = "*"
retrying = "*"
"jinja2" = "*"
pika = "*"
paramiko = "*"
"flake8" = "*"
census-rm-sample-loader = {editable = true,git = "https://github.com/ONSdigital/census-rm-sample-loader",ref = "v1.3.0"}
pgpy = "*"
google-cloud-storage = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6"
